/**
 * 航空公司图标
 */

.airIcon {
  float:left;
  width:32px;
  height:32px;
  margin:0 12px 0 0;
  background-image:url("images/icon-airline190528.png");
  background-position:0 -736px;
}

.airIcon-CA {background-position:0 0;}
.airIcon-TJ {background-position:0 0;}
.airIcon-SH {background-position:0 0;}
.airIcon-NM {background-position:0 0;}
.airIcon-CQ {background-position:0 0;}
.airIcon-CD {background-position:0 0;}
.airIcon-FM {background-position:-32px 0;}
.airIcon-9C {background-position:-64px 0;}
.airIcon-HO {background-position:-96px 0;}
.airIcon-F4 {background-position:-128px 0;}
.airIcon-YI {background-position:-160px 0;}
.airIcon-KA {background-position:-192px 0;}
.airIcon-MU {background-position:0 -32px;}
.airIcon-YN {background-position:0 -32px;}
.airIcon-XA {background-position:0 -32px;}
.airIcon-GP {background-position:0 -32px;}
.airIcon-EB {background-position:0 -32px;}
.airIcon-DG {background-position:0 -32px;}
.airIcon-ZH {background-position:-32px -32px;}
.airIcon-4G {background-position:-32px -32px;}
.airIcon-EU {background-position:-64px -32px;}
.airIcon-JD {background-position:-96px -32px;}
.airIcon-JI {background-position:-128px -32px;}
.airIcon-PN {background-position:-160px -32px;}
.airIcon-LR {background-position:-192px -32px;}
.airIcon-CZ {background-position:0 -64px;}
.airIcon-Z2 {background-position:0 -64px;}
.airIcon-HN {background-position:0 -64px;}
.airIcon-HE {background-position:0 -64px;}
.airIcon-HB {background-position:0 -64px;}
.airIcon-2Z {background-position:0 -64px;}
.airIcon-3U {background-position:-32px -64px;}
.airIcon-KN {background-position:-64px -64px;}
.airIcon-GS {background-position:-96px -64px;}
.airIcon-DZ {background-position:-128px -64px;}
.airIcon-XW {background-position:-160px -64px;}
.airIcon-NX {background-position:-192px -64px;}
.airIcon-HU {background-position:0 -96px;}
.airIcon-CN {background-position:0 -96px;}
.airIcon-MF {background-position:-32px -96px;}
.airIcon-IV {background-position:-32px -96px;}
.airIcon-G5 {background-position:-64px -96px;}
.airIcon-XF {background-position:-128px -96px;}
.airIcon-U6 {background-position:-160px -96px;}
.airIcon-OM {background-position:-192px -96px;}
.airIcon-SC {background-position:0 -128px;}
.airIcon-BK {background-position:-32px -128px;}
.airIcon-8L {background-position:-64px -128px;}
.airIcon-IJ {background-position:-96px -128px;}
.airIcon-AB {background-position:-128px -128px;}
.airIcon-CJ {background-position:-160px -128px;}
.airIcon-GG {background-position:-160px -128px;}
.airIcon-SY {background-position:-160px -128px;}
.airIcon-SJ {background-position:-160px -128px;}
.airIcon-RJ {background-position:-192px -128px;}
.airIcon-8M {background-position:0 -160px;}
.airIcon-8U {background-position:-32px -160px;}
.airIcon-9W {background-position:-64px -160px;}
.airIcon-AA {background-position:-96px -160px;}
.airIcon-AM {background-position:-128px -160px;}
.airIcon-H4 {background-position:-160px -160px;}
.airIcon-US {background-position:-192px -160px;}
.airIcon-AC {background-position:0 -192px;}
.airIcon-AF {background-position:-32px -192px;}
.airIcon-AH {background-position:-64px -192px;}
.airIcon-AI {background-position:-96px -192px;}
.airIcon-BA {background-position:-128px -192px;}
.airIcon-FX {background-position:-160px -192px;}
.airIcon-ZL {background-position:-192px -192px;}
.airIcon-AR {background-position:0 -224px;}
.airIcon-AS {background-position:-32px -224px;}
.airIcon-AY {background-position:-64px -224px;}
.airIcon-AZ {background-position:-96px -224px;}
.airIcon-DL {background-position:-128px -224px;}
.airIcon-F6 {background-position:-160px -224px;}
.airIcon-UQ {background-position:-192px -224px;}
.airIcon-BI {background-position:0 -256px;}
.airIcon-CM {background-position:-32px -256px;}
.airIcon-CO {background-position:-64px -256px;}
.airIcon-DJ {background-position:-96px -256px;}
.airIcon-FT {background-position:-128px -256px;}
.airIcon-MUL {background-position:-160px -256px;}
.airIcon-GJ {background-position:-192px -256px;}
.airIcon-EK {background-position:0 -288px;}
.airIcon-ET {background-position:-32px -288px;}
.airIcon-FE {background-position:-64px -288px;}
.airIcon-FI {background-position:-96px -288px;}
.airIcon-HZ {background-position:-128px -288px;}
.airIcon-6E {background-position:-160px -288px;}
.airIcon-FU {background-position:-192px -288px;}
.airIcon-FV {background-position:0 -320px;}
.airIcon-GA {background-position:-32px -320px;}
.airIcon-GF {background-position:-64px -320px;}
.airIcon-HA {background-position:-96px -320px;}
.airIcon-JL {background-position:-128px -320px;}
.airIcon-AE {background-position:-160px -320px;}
.airIcon-DR {background-position:-192px -320px;}
.airIcon-JR {background-position:0 -352px;}
.airIcon-IT {background-position:-32px -352px;}
.airIcon-IY {background-position:-64px -352px;}
.airIcon-JJ {background-position:-96px -352px;}
.airIcon-KL {background-position:-128px -352px;}
.airIcon-AT {background-position:-160px -352px;}
.airIcon-J2 {background-position:-192px -352px;}
.airIcon-JQ {background-position:0 -384px;}
.airIcon-JS {background-position:-32px -384px;}
.airIcon-KC {background-position:-64px -384px;}
.airIcon-KE {background-position:-96px -384px;}
.airIcon-LO {background-position:-128px -384px;}
.airIcon-AV {background-position:-160px -384px;}
.airIcon-GX {background-position:-192px -384px;}
.airIcon-KM {background-position:0 -416px;}
.airIcon-KQ {background-position:-32px -416px;}
.airIcon-LA {background-position:-64px -416px;}
.airIcon-LH {background-position:-96px -416px;}
.airIcon-MI {background-position:-128px -416px;}
.airIcon-B7 {background-position:-160px -416px;}
.airIcon-HY {background-position:-192px -416px;}
.airIcon-LX {background-position:0 -448px;}
.airIcon-LY {background-position:-32px -448px;}
.airIcon-MD {background-position:-64px -448px;}
.airIcon-MH {background-position:-96px -448px;}
.airIcon-NZ {background-position:-128px -448px;}
.airIcon-BR {background-position:-160px -448px;}
.airIcon-MR {background-position:-192px -448px;}
.airIcon-MK {background-position:0 -480px;}
.airIcon-MS {background-position:-32px -480px;}
.airIcon-NH {background-position:-64px -480px;}
.airIcon-NW {background-position:-96px -480px;}
.airIcon-PG {background-position:-128px -480px;}
.airIcon-CI {background-position:-160px -480px;}
.airIcon-PS {background-position:-192px -480px;}
.airIcon-OA {background-position:0 -512px;}
.airIcon-OS {background-position:-32px -512px;}
.airIcon-OU {background-position:-64px -512px;}
.airIcon-OZ {background-position:-96px -512px;}
.airIcon-QR {background-position:-128px -512px;}
.airIcon-CX {background-position:-160px -512px;}
.airIcon-UY {background-position:-192px -512px;}
.airIcon-PK {background-position:0 -544px;}
.airIcon-PR {background-position:-32px -544px;}
.airIcon-PX {background-position:-64px -544px;}
.airIcon-QF {background-position:-96px -544px;}
.airIcon-SN {background-position:-128px -544px;}
.airIcon-EY {background-position:-160px -544px;}
.airIcon-UT {background-position:-192px -544px;}
.airIcon-RG {background-position:0 -576px;}
.airIcon-S7 {background-position:-32px -576px;}
.airIcon-SA {background-position:-64px -576px;}
.airIcon-SK {background-position:-96px -576px;}
.airIcon-TK {background-position:-128px -576px;}
.airIcon-FJ {background-position:-160px -576px;}
.airIcon-SZ {background-position:-192px -576px;}
.airIcon-SQ {background-position:0 -608px;}
.airIcon-SU {background-position:-32px -608px;}
.airIcon-SV {background-position:-64px -608px;}
.airIcon-TG {background-position:-96px -608px;}
.airIcon-UL {background-position:-128px -608px;}
.airIcon-FZ {background-position:-160px -608px;}
.airIcon-VX {background-position:-192px -608px;}
.airIcon-TN {background-position:0 -640px;}
.airIcon-TP {background-position:-32px -640px;}
.airIcon-U6 {background-position:-64px -640px;}
.airIcon-UA {background-position:-96px -640px;}
.airIcon-VV {background-position:-128px -640px;}
.airIcon-GE {background-position:-160px -640px;}
.airIcon-NS {background-position:-192px -640px;}
.airIcon-UM {background-position:0 -672px;}
.airIcon-UN {background-position:-32px -672px;}
.airIcon-VN {background-position:-64px -672px;}
.airIcon-VS {background-position:-96px -672px;}
.airIcon-VA {background-position:-96px -672px;}
.airIcon-OQ {background-position:-128px -672px;}
.airIcon-HX {background-position:-160px -672px;}
.airIcon-O8 {background-position:-192px -672px;}
.airIcon-QW {background-position:-32px -704px;}
.airIcon-KY {background-position:-96px -704px;}
.airIcon-TV {background-position:-128px -704px;}
.airIcon-K6 {background-position:-160px -704px;}
.airIcon-TZ {background-position:-192px -704px;}
.airIcon-A6 {background-position:-32px -736px;}

.airIconSmall {
  float:left;
  width:16px;
  height:16px;
  margin:1px 8px 0 0;
  background-image:url("images/icon-airline190528-small.png");
  background-position:0 -368px;
}

.airIconSmall-CA {background-position:0 0;}
.airIconSmall-TJ {background-position:0 0;}
.airIconSmall-SH {background-position:0 0;}
.airIconSmall-NM {background-position:0 0;}
.airIconSmall-CQ {background-position:0 0;}
.airIconSmall-CD {background-position:0 0;}
.airIconSmall-FM {background-position:-16px 0;}
.airIconSmall-9C {background-position:-32px 0;}
.airIconSmall-HO {background-position:-48px 0;}
.airIconSmall-F4 {background-position:-64px 0;}
.airIconSmall-YI {background-position:-80px 0;}
.airIconSmall-KA {background-position:-96px 0;}
.airIconSmall-MU {background-position:0 -16px;}
.airIconSmall-YN {background-position:0 -16px;}
.airIconSmall-XA {background-position:0 -16px;}
.airIconSmall-GP {background-position:0 -16px;}
.airIconSmall-EB {background-position:0 -16px;}
.airIconSmall-DG {background-position:0 -16px;}
.airIconSmall-ZH {background-position:-16px -16px;}
.airIconSmall-4G {background-position:-16px -16px;}
.airIconSmall-EU {background-position:-32px -16px;}
.airIconSmall-JD {background-position:-48px -16px;}
.airIconSmall-JI {background-position:-64px -16px;}
.airIconSmall-PN {background-position:-80px -16px;}
.airIconSmall-LR {background-position:-96px -16px;}
.airIconSmall-CZ {background-position:0 -32px;}
.airIconSmall-Z2 {background-position:0 -32px;}
.airIconSmall-HN {background-position:0 -32px;}
.airIconSmall-HE {background-position:0 -32px;}
.airIconSmall-HB {background-position:0 -32px;}
.airIconSmall-2Z {background-position:0 -32px;}
.airIconSmall-3U {background-position:-16px -32px;}
.airIconSmall-KN {background-position:-32px -32px;}
.airIconSmall-GS {background-position:-48px -32px;}
.airIconSmall-DZ {background-position:-64px -32px;}
.airIconSmall-XW {background-position:-80px -32px;}
.airIconSmall-NX {background-position:-96px -32px;}
.airIconSmall-HU {background-position:0 -48px;}
.airIconSmall-CN {background-position:0 -48px;}
.airIconSmall-MF {background-position:-16px -48px;}
.airIconSmall-IV {background-position:-16px -48px;}
.airIconSmall-G5 {background-position:-32px -48px;}
.airIconSmall-XF {background-position:-64px -48px;}
.airIconSmall-U6 {background-position:-80px -48px;}
.airIconSmall-OM {background-position:-96px -48px;}
.airIconSmall-SC {background-position:0 -64px;}
.airIconSmall-BK {background-position:-16px -64px;}
.airIconSmall-8L {background-position:-32px -64px;}
.airIconSmall-IJ {background-position:-48px -64px;}
.airIconSmall-AB {background-position:-64px -64px;}
.airIconSmall-CJ {background-position:-80px -64px;}
.airIconSmall-GG {background-position:-80px -64px;}
.airIconSmall-SY {background-position:-80px -64px;}
.airIconSmall-SJ {background-position:-80px -64px;}
.airIconSmall-RJ {background-position:-96px -64px;}
.airIconSmall-8M {background-position:0 -80px;}
.airIconSmall-8U {background-position:-16px -80px;}
.airIconSmall-9W {background-position:-32px -80px;}
.airIconSmall-AA {background-position:-48px -80px;}
.airIconSmall-AM {background-position:-64px -80px;}
.airIconSmall-H4 {background-position:-80px -80px;}
.airIconSmall-US {background-position:-96px -80px;}
.airIconSmall-AC {background-position:0 -96px;}
.airIconSmall-AF {background-position:-16px -96px;}
.airIconSmall-AH {background-position:-32px -96px;}
.airIconSmall-AI {background-position:-48px -96px;}
.airIconSmall-BA {background-position:-64px -96px;}
.airIconSmall-FX {background-position:-80px -96px;}
.airIconSmall-ZL {background-position:-96px -96px;}
.airIconSmall-AR {background-position:0 -112px;}
.airIconSmall-AS {background-position:-16px -112px;}
.airIconSmall-AY {background-position:-32px -112px;}
.airIconSmall-AZ {background-position:-48px -112px;}
.airIconSmall-DL {background-position:-64px -112px;}
.airIconSmall-F6 {background-position:-80px -112px;}
.airIconSmall-UQ {background-position:-96px -112px;}
.airIconSmall-BI {background-position:0 -128px;}
.airIconSmall-CM {background-position:-16px -128px;}
.airIconSmall-CO {background-position:-32px -128px;}
.airIconSmall-DJ {background-position:-48px -128px;}
.airIconSmall-FT {background-position:-64px -128px;}
.airIconSmall-MUL {background-position:-80px -128px;}
.airIconSmall-GJ {background-position:-96px -128px;}
.airIconSmall-EK {background-position:0 -144px;}
.airIconSmall-ET {background-position:-16px -144px;}
.airIconSmall-FE {background-position:-32px -144px;}
.airIconSmall-FI {background-position:-48px -144px;}
.airIconSmall-HZ {background-position:-64px -144px;}
.airIconSmall-6E {background-position:-80px -144px;}
.airIconSmall-FU {background-position:-96px -144px;}
.airIconSmall-FV {background-position:0 -160px;}
.airIconSmall-GA {background-position:-16px -160px;}
.airIconSmall-GF {background-position:-32px -160px;}
.airIconSmall-HA {background-position:-48px -160px;}
.airIconSmall-JL {background-position:-64px -160px;}
.airIconSmall-AE {background-position:-80px -160px;}
.airIconSmall-DR {background-position:-96px -160px;}
.airIconSmall-JR {background-position:0 -176px;}
.airIconSmall-IT {background-position:-16px -176px;}
.airIconSmall-IY {background-position:-32px -176px;}
.airIconSmall-JJ {background-position:-48px -176px;}
.airIconSmall-KL {background-position:-64px -176px;}
.airIconSmall-AT {background-position:-80px -176px;}
.airIconSmall-J2 {background-position:-96px -176px;}
.airIconSmall-JQ {background-position:0 -192px;}
.airIconSmall-JS {background-position:-16px -192px;}
.airIconSmall-KC {background-position:-32px -192px;}
.airIconSmall-KE {background-position:-48px -192px;}
.airIconSmall-LO {background-position:-64px -192px;}
.airIconSmall-AV {background-position:-80px -192px;}
.airIconSmall-GX {background-position:-96px -192px;}
.airIconSmall-KM {background-position:0 -208px;}
.airIconSmall-KQ {background-position:-16px -208px;}
.airIconSmall-LA {background-position:-32px -208px;}
.airIconSmall-LH {background-position:-48px -208px;}
.airIconSmall-MI {background-position:-64px -208px;}
.airIconSmall-B7 {background-position:-80px -208px;}
.airIconSmall-HY {background-position:-96px -208px;}
.airIconSmall-LX {background-position:0 -224px;}
.airIconSmall-LY {background-position:-16px -224px;}
.airIconSmall-MD {background-position:-32px -224px;}
.airIconSmall-MH {background-position:-48px -224px;}
.airIconSmall-NZ {background-position:-64px -224px;}
.airIconSmall-BR {background-position:-80px -224px;}
.airIconSmall-MR {background-position:-96px -224px;}
.airIconSmall-MK {background-position:0 -240px;}
.airIconSmall-MS {background-position:-16px -240px;}
.airIconSmall-NH {background-position:-32px -240px;}
.airIconSmall-NW {background-position:-48px -240px;}
.airIconSmall-PG {background-position:-64px -240px;}
.airIconSmall-CI {background-position:-80px -240px;}
.airIconSmall-PS {background-position:-96px -240px;}
.airIconSmall-OA {background-position:0 -256px;}
.airIconSmall-OS {background-position:-16px -256px;}
.airIconSmall-OU {background-position:-32px -256px;}
.airIconSmall-OZ {background-position:-48px -256px;}
.airIconSmall-QR {background-position:-64px -256px;}
.airIconSmall-CX {background-position:-80px -256px;}
.airIconSmall-UY {background-position:-96px -256px;}
.airIconSmall-PK {background-position:0 -272px;}
.airIconSmall-PR {background-position:-16px -272px;}
.airIconSmall-PX {background-position:-32px -272px;}
.airIconSmall-QF {background-position:-48px -272px;}
.airIconSmall-SN {background-position:-64px -272px;}
.airIconSmall-EY {background-position:-80px -272px;}
.airIconSmall-UT {background-position:-96px -272px;}
.airIconSmall-RG {background-position:0 -288px;}
.airIconSmall-S7 {background-position:-16px -288px;}
.airIconSmall-SA {background-position:-32px -288px;}
.airIconSmall-SK {background-position:-48px -288px;}
.airIconSmall-TK {background-position:-64px -288px;}
.airIconSmall-FJ {background-position:-80px -288px;}
.airIconSmall-SZ {background-position:-96px -288px;}
.airIconSmall-SQ {background-position:0 -304px;}
.airIconSmall-SU {background-position:-16px -304px;}
.airIconSmall-SV {background-position:-32px -304px;}
.airIconSmall-TG {background-position:-48px -304px;}
.airIconSmall-UL {background-position:-64px -304px;}
.airIconSmall-FZ {background-position:-80px -304px;}
.airIconSmall-VX {background-position:-96px -304px;}
.airIconSmall-TN {background-position:0 -320px;}
.airIconSmall-TP {background-position:-16px -320px;}
.airIconSmall-U6 {background-position:-32px -320px;}
.airIconSmall-UA {background-position:-48px -320px;}
.airIconSmall-VV {background-position:-64px -320px;}
.airIconSmall-GE {background-position:-80px -320px;}
.airIconSmall-NS {background-position:-96px -320px;}
.airIconSmall-UM {background-position:0 -336px;}
.airIconSmall-UN {background-position:-16px -336px;}
.airIconSmall-VN {background-position:-32px -336px;}
.airIconSmall-VS {background-position:-48px -336px;}
.airIconSmall-VA {background-position:-48px -336px;}
.airIconSmall-OQ {background-position:-64px -336px;}
.airIconSmall-HX {background-position:-80px -336px;}
.airIconSmall-O8 {background-position:-96px -336px;}
.airIconSmall-QW {background-position:-16px -352px;}
.airIconSmall-KY {background-position:-48px -352px;}
.airIconSmall-TV {background-position:-64px -352px;}
.airIconSmall-K6 {background-position:-80px -352px;}
.airIconSmall-TZ {background-position:-96px -352px;}
.airIconSmall-A6 {background-position:-16px -368px;}
